body {
  background:#050505;
  color:#00ff99;
  font-family:Arial;
  text-align:center;
}

.logo{
  width:150px;
  margin-top:30px;
}

h1{
  text-shadow:0 0 15px #00ff99;
}

.tag{
  color:#aaffdd;
}

.box{
  border:1px solid #00ff99;
  margin:20px auto;
  padding:20px;
  max-width:400px;
}

.price{
  font-size:18px;
  font-weight:bold;
}

input,button{
  padding:10px;
  margin:8px;
  width:80%;
}

button{
  background:#00ff99;
  border:none;
  cursor:pointer;
}
